---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Noto Sans KR", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap'); // noto sans kr
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials